*{
    
}

/*.zero{
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

h1{
    background-color: black;
    color: white;
    
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin: 0 8px;
    font-size: 25px;
}
.two{
    text-indent: 50px;
    line-height: 3;
    letter-spacing: 1.8px;
    word-spacing: 10px;
    text-align: justify;
}
.four{
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     border-radius: 50%;
     width: 34px;
     height: 34px;
     margin: 0 8px;
     font-size: 25px;
     
}

.icon{
    display: flex;

}*/

.tam{
    background-color: yellow;
}
.eng{
    background-color: green;
}
.math{
    background-color: red;
}
.chem{
    background-color: blue;
}
.bot{
    background-color: lightgreen;
}
.zoo{
    background-color: violet;
}
.botlab{
    background-color: darkcyan;
}
.zoolab{
    background-color: gold;
}
.sport{
    background-color: skyblue;
}
.phy{
    background-color: palevioletred;
}
.chemlab{
    background-color: brown;
}
.lun{
    background-color: blue;
}
*{
    text-align: center;
    color: white;
    font-style: italic;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px ;
}
.day{
    background-color: black;
    color: gold;
}
table{
    border-radius: 7px;
    box-shadow:  0 10px 15px rgba(0, 0, 0, 0.5);
    height: 300px;
}