.parent {
    border: 5px solid blue;
    height: 600px;
    width: 600px;
    border-radius: 24px;
    box-shadow: 5px 8px rgba(0, 0, 0, 0.5);
    
}

.child {
    height: 200px;
    width: 200px;
}

.box1 {
    background-color: red;
    border-radius: 50%;
    position: fixed;
    top: 50px;
    left: 300px;
}

.box2 {
    background-color: green;
    position: sticky;
    top: 100px;
    z-index: 1;
}

.box3 {
    background-color: yellow;
}

.par{
    height: 260px;
    width: 260px;
    border: 2px solid red;
    overflow: auto;
}