.list{
    display: grid;
    grid-template-columns: repeat(10,120px);
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.list .item{
    transition: 0.5s;
    filter: brightness(0);
}
.list .item:hover{
    filter: brightness(1);
    transform: translateZ(100px);
} 
.list .item:hover+ .item{
    filter: brightness(0.6);
    transform: translateZ(70px) rotateY('40deg');
}