 .emt
{
    width: 100%;
    height: 100vh;
    background: url(bird2.jpg);
    position: relative;
    background-size: cover;
}
.emt::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(mask.jpg);
    background-size: 1500px;
    background-position: center;
    mix-blend-mode: screen;
} 
