.edit
{
    width:700px;
    height: 100vh;
    background: url(mom.jpg);
    position: relative;
    background-size: cover;
    left: 20%;
}
.edit::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(mask.jpg);
    background-size: 1000px;
    background-position: center;
    mix-blend-mode: screen;
}
body
{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}