@import url('https://fonts.cdnfonts.com/css/crime-syndicate');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&display=swap');

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 100px;
    height: 150px;
    top: 20%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(900px);
    animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
    from {
        transform: perspective(900px) rotateX(-10deg) rotateY(0deg);
    }

    to {
        transform: perspective(900px) rotateX(-10deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(450px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1200px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.banner .content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 6em;
    line-height: 1em;
    color: #25283B;

}
.banner .content .author{
    font-family: 'Crime Syndicate Extra-condensed', sans-serif;
    max-width: 200px;
    text-align: right;
    font-weight: 600;
    color: white;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    background-image: url(motu.glb);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
} 
 body{
    background-color: black;
 }