
*{
    margin: 0;
    padding: 0;
}
h1,ul,li{
    display: inline;
}

ul{
    margin-left: 60%;
    color: gold;
}

.header{
    background-color: black;
    color: white;
    padding: 20px;
}

li:hover{
    cursor: pointer;
    color: white;
}

input{
    margin-left: 20%;
    padding: 10px;
    border: 2px solid black;
    width: 60%;
}

.searchbar{
    padding: 40px;
}

.box{
    width: 200px;
    display: inline-block;
    border: 2px solid black;
    
}

.content{
    text-align: center;
}

.box:hover{
    background-color: black;
    color: white;
}

.about{
    margin-top: 20px;
    text-align: center;
}

p{
    margin-top: 20px;
    text-align: justify;
}

.contact{
    text-align: center;
    background-color: black;
    color: white;
}