#one{
    background-color: black;
    color: gold;
}

p{
    text-align: justify;
    font-weight: 900;
    line-height: 2;
    word-spacing: 20px;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
}

#three{
    color: red;
    text-align: center;
}

#two{
    color: darkblue;
}

.one{
    width: 150px;
    height: 150px;
    padding: 10px;
    float: left;
    margin: right 2opx;
}

.two{
    border: 4px solid blue;
    display: flow-root;
    background-color: gold;
    float: inline-end;
    
}

.three{
    column-count: 3;
    column-rule: 3px solid red;
    column-gap: 30px;
}

#four{
    text-decoration: underline;
}

.parent.child:first-child{
    color: blue;
    font-size: 18px;
}