@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0;
    margin: 0;
}

section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #121325;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
section::before {
    height: 240px;
    width: 240px;
    background: linear-gradient(#d5c4e2, rgb(240, 31, 212));
    content: "";
    border-radius: 50%;
    transform: translate(-150px, -100px);
    position: absolute;

}
section::after {
    height: 240px;
    width: 240px;
    background: linear-gradient(#d5c4e2, rgb(240, 31, 212));
    content: "";
    border-radius: 50%;
    transform: translate(150px, 100px);
    position: absolute;

}
.container{
    height: 225px;
    width: 375px;
    z-index: 100;
}
.card{
    height: 100%;
    width: 100%;
    padding: 25px;
    background: rgba(255,255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255,255, 255, 0.1);
}
img{
    width: 50px;
    margin-right: 10px;

}
h5{
    font-size: 16px;
    font-weight: 400;
}
.chip{
    width: 50px;
}

header,.logo .chip{
    display: flex;
    align-items: center;
}
header{
    justify-content: space-between;
}
.details{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}